/* global */
.header-image {
     background-image:url(conceptTitle.png);
     background-position: center;
     background-repeat: no-repeat;
     position: relative;
     background-size: cover;
}
*{
     box-sizing: border-box;
}

html{
     font-size:14px;
     font-family: 'VT323', monospace;
     background-color: rgb(178, 190, 181);
     color: #fefefefe;
}

a{
     color: rgb(249, 241, 255);
}
h1{
     font-family: 'VT323', monospace;
}

