/* global */

*{
     box-sizing: border-box;
}

html{
     font-size:14px;
     font-family: 'VT323', monospace;
     background-color: rgb(0, 0, 0);
     color: #fefefefe;
}
h1{
     font-family: 'VT323', monospace;
}

